@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #1e293b;
  --background-end-rgb: 255, 255, 255;

  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --black: #000000;
  --purple: #3b0764;
  /* --purple: #581c87; */
  /* --purple: #4c1d95; */
  /* --purple: #a855f7; */
  --slate-100: #f1f5f9;
  --slate-950: #020617;

  --background: var(--slate-950);
  --accent: var(--purple);
  --muted-text: var(--slate-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* GENERAL */

.primary {
  color: var(--primary);
}
.accent {
  color: var(--accent);
}
.background {
  color: var(--background);
}

/* TAGS */

html {
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, var(--black), var(--background));
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-size: 6rem;
  font-weight: 700;
  color: var(--muted-text);
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--muted-text);
}

/* CLASSES */

main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: between;

  /* border: 1px solid var(--muted-text); */
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;

  /* scroll-snap-align: center;
  scroll-snap-stop: normal; */

  /* border: 1px solid var(--muted-text); */
}

.nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  width: 100%;
  height: 60px;
  padding: 2.5rem;
  padding-left: 2rem;
  margin-right: 34px;
  font-size: 1.2rem;

  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.8);

  /* border: 1px solid var(--muted-text); */
}

.nav-button {
  color: var(--muted-text);
}

/* hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 90%;
  width: 100%;

  /* border: 1px solid var(--muted-text); */
}

/* react spring */

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  width: 50%;

  text-align: center;
  border-radius: 10px;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;

  text-align: center;
  border-radius: 10px;
}

.parallax {
  margin-right: 15%;
}

.sticky {
  margin-left: 15%;
  background-color: #ff6d6d;
}

/* down arrow */

.down-arrow-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;

  gap: 1rem;
  margin-top: auto;

  /* border: 1px solid var(--muted-text); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
