@tailwind base;
@tailwind components;
@tailwind utilities;

/* border: 1px solid var(--muted-text); */

:root {
  --bradius: 5px;

  /* my colors */
  --white: #fafafa;
  --black: #000000;

  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --purple: #3b0764;

  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal: #115e59;
  --teal-dark: #134e4a;
  --teal-950: #042f2e;

  --midnight-green: #093433;
  --dark-green: #062322;
  --black-green: #010909;

  --gold: #ffd700;
  --coral: #ff6f61;
  --mint: #98ff98;

  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;

  /* primary */
  --background: var(--slate-950);
  --accent: var(--purple);
  --muted-text: var(--slate-100);

  /* gradiant */
  --gradient-background-start: 108, 0, 162;
  --gradient-background-end: 0, 17, 82;

  /* used by radix icons and other built-ins */
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  /* shadcn */
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}

/* --- GENERAL --- */

.primary {
  color: var(--primary);
}
.accent {
  color: var(--accent);
}

.dot {
  /* position: absolute; */
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
}

/* --- TAGS --- */

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, var(--black), var(--background));
  overflow-y: auto;
  overflow-x: hidden;
  /* min-width: 100dvw; */
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 6rem;
  font-weight: 700;
  color: var(--muted-text);
}

@media (max-width: 1000px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  display: flex;
  justify-content: center;
  color: var(--muted-text);
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--muted-text);
}

/* --- CLASSES --- */

main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: between;
  z-index: 10;

  width: 100dvw;
  height: 100dvh;
}

textarea {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 9999px;
  background: var(--gray-800);
  border: 1px solid var(--slate-400);
  resize: none;
  overflow: hidden;
}

textarea:focus {
  outline: none;
  border: 1px solid var(--slate-100);
}

/* --- SCROLLBAR --- */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-600);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  display: transparent;
  background: var(--gray-800);
}

@media (max-width: 1000px) {
  ::-webkit-scrollbar {
    width: 0px;
    display: none;
  }
  ::-webkit-scrollbar-track {
    width: 0px;
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}

/* --- BUTTONS --- */

.colored-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  background: linear-gradient(
    40deg,
    rgba(0, 128, 128, 0.2),
    rgba(0, 128, 128, 0.4)
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 128, 128, 0.6);
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 128, 128, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.colored-btn:hover {
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

/* --- BACKGROUND GRADIENT --- */

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(40deg, var(--dark-green), var(--black));
}

/* --- HEADER --- */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  gap: 0.3rem;
  color: var(--muted-text);
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }
}

.underline {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2px;
  background: var(--muted-text);
}

/* --- SECTION --- */

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

.section-centered {
  width: 100%;
}

@media (max-width: 1000px) {
  .section-title {
    width: 100%;
  }
  .section-content {
    width: 100%;
  }
}

/* --- NAV --- */

.nav {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  z-index: 100;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  height: 70px;
  margin: 1rem 0;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;

  /* border: 1px solid var(--muted-text); */
}

.nav-small {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  width: 100%;
  height: 55px;
  gap: 1rem;
  margin: 0;
  padding: 1.3rem;
  border-radius: 0;
  max-width: 100%;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);

  /* border: 1px solid var(--muted-text); */
}

@media (max-width: 800px) {
  .nav {
    display: none;
  }
  .nav-small {
    display: flex;
    justify-content: space-between;
  }
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--muted-text);
  transition: color 0.3s ease, color 0.3s ease;
}

/* on hover button */
.nav-btn:hover {
  color: var(--slate-400);
}

.nav-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--muted-text);
  transition: color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  z-index: 1001;
}

.nav-hamburger:hover {
  color: var(--slate-400);
}

.nav-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px;
  height: 25%;
  background: var(--muted-text);
  opacity: 0.1;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--midnight-green);
  border-radius: 8px;
  padding: 20px 10px;
  width: 90%;
  max-width: 400px;
  margin-top: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--muted-text);
}

.modal-content .nav-btn {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.modal-content .nav-divider {
  width: 100%;
  height: 1px;
  background: var(--muted-text);
  opacity: 0.1;
  margin: 10px 0; /* Add spacing around dividers */
}

/* --- AI ASSISTANT --- */

.ai-assistant {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  top: 0;
  right: 0;
  gap: 1rem;
  z-index: 1000;
  pointer-events: none;
}

@media (max-width: 800px) {
  .ai-assistant {
    justify-content: center;
    width: 100%;
  }
}

.ai-assistant-suggestion-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 0.5rem;
  border-radius: 0.375rem;
  background: var(--teal-dark);
  color: var(--muted-text);
  font-size: 0.875rem;
}

.ai-assistant-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 67px;
  margin: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.85);
  background: linear-gradient(
    40deg,
    rgba(0, 128, 128, 0.2),
    rgba(0, 128, 128, 0.4)
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 128, 128, 0.6);
  border-radius: 100px;
  pointer-events: auto;
  cursor: pointer;
  z-index: 1001;
}

.ai-assistant-btn-text-wide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ai-assistant-btn-text-small {
  display: none;
}

@media (max-width: 1000px) {
  .ai-assistant-btn {
    width: 67px;
  }
  .ai-assistant-btn-text-wide {
    display: none;
  }
  .ai-assistant-btn-text-small {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .ai-assistant-btn {
    width: 36px;
    height: 36px;
    margin-top: 0.6rem;
    margin-right: 0.8rem;
    font-size: 1rem;
  }
}

.ai-assistant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80dvh;
  max-width: 60dvh;
  border-radius: 10px;
  background: var(--gray-800);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  margin-top: 0;
  pointer-events: auto;
}

@media (max-width: 800px) {
  .ai-assistant-container {
    max-width: 95dvw;
    margin: 0rem;
  }
}

.ai-assistant-chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
  background: var(--teal-dark);
}

.ai-assistant-chat-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.ai-assistant-message-body {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.ai-assistant-chat-bubble {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  background: var(--gray-700);
}

.ai-assistant-icon {
  background: var(--teal);
  width: 50px;
  height: 45px;
  padding: 8px;
  border-radius: 10px;
}

/* --- MAIN-CONTENT --- */

.main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100dvw;
  width: 100%;
}

.parallax-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  position: relative;
  overflow: hidden;
}

.parallax-hero::before,
.parallax-hero::after {
  content: "";
  position: absolute;
  width: 50dvw;
  height: 50dvh;
  max-height: 50rem;
  max-width: 50rem;
  min-height: 30rem;
  min-width: 30rem;
  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
  z-index: -1;
}

/* .parallax-hero::before {
  top: -5rem;
  left: -15rem;
  @apply bg-gradient-to-r from-violet-900 to-violet-950 opacity-50;
} */

/* .parallax-hero::after {
  top: 5rem;
  right: -20rem;

  @apply bg-gradient-to-r from-violet-700 to-violet-800;
} */

/* --- */

.parallax-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  text-align: center;
  border-radius: 10px;

  overflow: hidden;
}

.parallax-margin {
  margin-top: 50dvh;
}

.parallax-content {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* --- HERO --- */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 90%;
  width: 100%;
}

.hero-title {
  font-size: 6rem;
  font-weight: 700;
}

.hero-subtitle {
  font-size: 1.5rem;
}

.down-arrow-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  gap: 1rem;
  margin-top: auto;
}

@media (max-width: 1000px) {
  .hero {
    font-size: 1.5rem;
  }
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
}

/* ABOUT */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  max-height: 500px;
  max-width: 700px;
}

.about-me-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 270px;
  border-radius: 200px;
  background: var(--purple-900);
  margin-bottom: 0.5rem;
}

.about-me-title {
  font-size: 2rem;
  font-weight: 700;
}

.about-me-description {
  display: flex;
  justify-content: center;
  max-width: 20rem;
  padding: 4px;
  padding-bottom: 0;
  margin-top: 0.5rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.4rem;
}

.about-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 700px;
  height: 50%;
  max-height: 500px;
}

.about-skills-title {
  font-size: 3rem;
  font-weight: 700;
}

/* --- SKILL TABS --- */

.skill-tab-list-background {
  @apply flex flex-row w-full pb-1 items-center justify-center [perspective:1000px] relative overflow-auto text-[var(--muted-text)];
  @apply sm:overflow-visible lg:text-xl;
}

.skill-tab-content-background {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  @apply p-0 text-xl font-bold text-[var(--muted-text)] bg-transparent;
}

.skill-tab-btn {
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

/* --- SKILL BARS --- */

.skill-bar-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

@media (max-width: 1000px) {
  .skill-bar-parent {
    margin-top: 0rem;
  }
}

.skill-bar {
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: start;
  width: 80%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
}

.skill-bar-fill {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  opacity: 0.95;
  border-radius: 5px;
  background: var(--teal-500);
  z-index: 100;
}

.skill-bar-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  background: var(--teal-800);
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
  }
  .about-me {
    height: 45%;
    width: 100%;
  }
  .about-me-image {
    width: 150px;
    height: 150px;
  }
  .about-me-description {
    font-size: 1rem;
    width: 22rem;
  }
  .about-skills {
    height: 50%;
    width: 100%;
  }
  .about-skills-title {
    font-size: 2rem;
  }
  .skill-bar-parent {
    gap: 0.3rem;
  }
  .skill-bar-name {
    width: 110px;
    font-size: 0.8rem;
  }
}

/* --- AI EXPERIENCE --- */

.about-ai-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* height: 66%; */
  width: 100%;
  gap: 1rem;
  padding: 0rem 1rem;
  overflow: hidden;
}

.experience-subtitle {
  font-size: 1.1rem;
  opacity: 0.7;
  font-weight: 400;
}

/* horizontal */
.ai-experience-icon-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  /* height: 100%; */
  gap: 4rem;
}

@media (max-width: 1000px) {
  .about-ai-experience {
    padding-top: 2rem;
  }
  .ai-experience-icon-parent {
    flex-direction: column;
    gap: 0rem;
  }
}

/* vertical */
.ai-experience-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  gap: 0.7rem;
}

.ai-experience-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  width: 90px;
  height: 90px;
}

.ai-experience-icon-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.ai-experience-icon-text {
  width: 280px;
  height: 100px;
  line-height: 1.4rem;
}

@media (max-width: 1000px) {
  .ai-experience-icon-container {
    font-size: 0.8rem;
    max-height: 200px;
  }
  .ai-experience-icon-title {
    font-size: 1.3rem;
  }
  .ai-experience-icon {
    width: 60px;
    height: 60px;
    font-size: 40px;
  }
  .ai-experience-icon-text {
    width: 240px;
    line-height: 1.2rem;
  }
}

/* --- PROJECTS HEADER --- */

.projects-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  height: 100%;
  width: 100%;
  max-width: 100dvw;
}

/* lines */

.projects-parent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 33%;
}

.horizontal-line-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.line {
  position: absolute;
  height: 2px;
  background-color: var(--muted-text); /* Change color as needed */
}

.line-one {
  top: 0;
  left: 0;
  width: 50%; /* Adjust as necessary */
}

/* --- */

.line-two {
  bottom: 0;
  right: 0;
  width: 150px; /* Adjust as necessary */
}

.projects-header-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

.projects-header-grid-item {
  height: auto;
  width: 480px;
  height: 350px;
  cursor: pointer;
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  padding-top: 8rem;
  border-radius: 10px;
  @apply bg-black bg-opacity-0;
}

@media (max-width: 1000px) {
  .projects-header {
    margin-top: 4rem;
  }
  .projects-header-grid {
    flex-direction: column;
    height: auto;
    max-width: 100%;
  }
  .project-section {
    padding: 1rem;
    padding-top: 1rem;
  }
}

@media (max-width: 640px) {
  .projects-header-grid-item {
    height: 300px;
    width: 400px;
    max-height: auto;
    max-width: 100%;
  }
}

/* --- MOVING CARDS --- */

.moving-card {
  width: 450px;
  position: relative;
  border-radius: 1rem;
  border: 1px solid #334155;
  border-bottom: 0;
  flex-shrink: 0;
  padding: 1.5rem 1.2rem;
}

@media (max-height: 1024px), (max-width: 1024px) {
  .moving-card {
    width: 300px;
    padding: 1rem 1rem;
  }
}

@media (max-height: 768px), (max-width: 768px) {
  .moving-card {
    width: 250px;
  }
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 aspect ratio */
  overflow: hidden;
  border-radius: 0.5rem; /* Optional: Rounded corners */
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Ensure the video covers the container */
}

/* --- SIMWEAVER --- */

.simweaver-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  text-align: center;
  border-radius: 10px;
}

.simweaver-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

@media (max-height: 800px), (max-width: 1024px) {
  .simweaver-title {
    width: 300px;
  }
}

.simweaver-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100dvh;
  text-align: center;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .simweaver-container {
    flex-direction: column;
    align-items: center;
  }
}

/* --- SPAWNART --- */

.spawnart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
}

@media (max-height: 800px), (max-width: 1024px) {
  .spawnart-title {
    width: 270px;
  }
}

/* --- CONTACT SECTION --- */

.contact-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contact-title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 33%;
  transform: translateY(-50%);
  text-align: center;
}

.contact-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.contact-subtitle {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--teal-500);
}

.contact-buttons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  color: var(--muted-text);
  background: var(--slate-800);
  cursor: pointer;
  transition: color 0.3s ease, background 0.3s ease;
}

.contact-btn:hover {
  color: var(--slate-300);
  background: var(--teal-dark);
}

.return-home-btn {
  position: absolute;
  top: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  font-weight: 700;
  color: var(--muted-text);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background: linear-gradient(
    40deg,
    rgba(0, 128, 128, 0.2),
    rgba(0, 128, 128, 0.4)
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 128, 128, 0.6);
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(0, 128, 128, 0.5);
}

.return-home-btn:hover {
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

.return-home-btn:active {
}

.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  bottom: 0;
  text-align: center;
  font-size: 1rem;
  color: var(--muted-text);
  background-color: var(--black-green);
}
